body{
  background: rgb(2, 0, 36);
  background: radial-gradient(circle,rgba(2,0,36,1));
}
.container{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  color: #fff;
}
.form{
width: 80%;
border: 1px solid #dfdfdf;
padding: 20px;
border-radius: 5px;
background: #fff;
}

button{
  background: #0563b4 !important;
  border: none;
  width: 100%;
  margin: 5px;
  padding: 5px;
  color:#fff;
  font-size: 18px;
}
.field input{
  width: 100%;
  padding: 5px;
}
p{
  color: rgb(241, 8, 8);
}

.field label{
  font-size: 18px;
  padding-bottom: 10px;
}